

.body{
    width: 100vw;
    height: 100vh;
}

.bobbleHead {
   height: 150px;
    width: 120px;
    margin: auto;
    background-size: contain;
    content: url(assets/nolanFilmNoir.png);
    animation: bobble .4s;
    animation-iteration-count: infinite;
    overflow: ;
}

.bobbleBody {
    position: relative;
    height: 600px;
    width: 200px;
    background-image: url(assets/partPigBobbleBody.png);
    background-size: contain;
    background-repeat: no-repeat;

}

@keyframes bobble {
    0% {
        transform: translate(6px, 10px) rotate(5deg);
    }
    25% {
        transform: translate(-1px, -4px) rotate(-2deg);
    }
    50% {
        transform: translate(-2px, -3px) rotate(-3deg);
    }
    75% {
        transform: translate(2px, 2px) rotate(-1deg);
    }
    100% {
        transform: translate(6px, 10px) rotate(5deg);
    }
}